{
	"presets": [
			"@babel/preset-react",
			[
				"@babel/preset-env",
					{
						"targets": {
							"browsers": [
								"last 1 version",
								"ie > 11"
							]
					},
				"corejs": 3,
				"useBuiltIns": "usage",
				"loose": true,
				"debug": false
			}
		]
	],
	"env": {
		"production": {}
	},
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	]
}
